*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Copperplate, Papyrus, fantasy;
    background-color: rgb(13, 11, 43);
}

.nevigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    margin: 0px 10px;
}
.nevigation h1{
    color: aliceblue;
    font-size: 56px;
}
.main{
    background-color: rgb(2, 2, 31);
    display: flex;
    margin: 10px 10px;
    color: aliceblue;
    height: 300px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90%;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px 5px;
    margin: auto 10px;
}
.instruction{
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin-top: 30px;
}
.left input{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
    margin: 5px;
    padding: 5px;
    font-size: 24px;
    font-weight: bolder;
    color: white;
}
.btn{
    width: 30%;
    height: 50px;
    cursor: pointer;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 100px;
}
.right{
    width: 50%;
    height: 90%;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    padding: 60px 5px;
    margin: auto 10px;
    font-size: 24px;
    font-weight: bolder;
}

.attribute{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* media query */
@media only screen and (max-width: 660px){
    .nevigation h1{
        font-size: 28px;
    }
    .main{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .right {
        width: 100%;
        margin: 5px;
    }
    .left {
        width: 100%;
        margin: 5px;
    }
    .btn {
        width: 50%;
    }
}